@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

html { height: 100%; }

body { min-height: 100%; }

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.navbar{
    width: 100%;
    height: 3rem;
}

.menuTab{
    width: 100%;
    height: 2.7rem;
    margin-top: -0.2rem;
}

.middle_section{
    width: 100%;
    display: flex;
    position: relative;
}

.first-col{
    width: 14%;
    height: 100vh;
    background-color: #f2f2f2;
}

.second-col{
    width: 100%;
    height: 100vh;
    background-color: red;
}

.footer{
    width: 100%;
    height: 2.25rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}